.card {
    margin: 1rem;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 400px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}  
   .card__content {
    background-color: #232933;
    border-radius: 17px;
    width: 100%;
    height: 100%;
   }

   .card__title{
    text-align: center;
    font-family: 'Commissioner', sans-serif;
   }

   .card__text{
       padding: 5px 10px;
       text-align: start;
   }

.card__img {
    margin: 0;
    width: 100%;
    height: 60%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 17px 17px 0px 0px;
}

.card__icons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.card__icons span {
    color: white;
    margin:0rem 1.3rem;
    font-family: 'Fraunces', serif;
}

.card__tec, .card__code {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}

.card__tec li {
    font-family: 'Commissioner', sans-serif;
    font-size: 12px;
}