.aboutme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutme__profile{
    display: flex;
}

.about-skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutme__text{
    width: 300px;
}

.aboutme__title{
    font-size: 3rem;
}

.aboutme__skills{
    display: flex;
    margin-top: 0.5rem;
}

.aboutme__img{
margin: 0 25px;
 width: 270px;
 height: 280px;
 border-radius: 20px;
 padding: 5px;
 box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
 background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}

.aboutme__content{
    background-color: #232933;
    border-radius: 17px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: -5px;
}

.aboutme__content img{
    width: auto;
    height: 90%;
    margin: 0;
}


.aboutme__skills-title{
    font-size: 1.2rem;
    margin-top: 2rem;
}

.aboutme__education-title{
    font-size: 1.2rem;
    margin-top: 2rem;
}

.aboutme__skills li {
    margin: 0;
}

.aboutme__skills img {
    margin-left: 5px;
    width: 30px;
    
}

.aboutme__education li{
list-style: circle;
 margin: 3px 20px;
 font-family:'Commissioner', sans-serif;
}

ion-icon{
    font-size: 30px;
    margin-top: 5px;
}