.aboutme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutme__profile{
    display: flex;
}

.about-skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutme__text{
    width: 300px;
}

.aboutme__title{
    font-size: 3rem;
}

.aboutme__skills{
    display: flex;
    margin-top: 0.5rem;
}

.aboutme__img{
    width: 350px;
}


.aboutme__skills-title{
    font-size: 1.2rem;
    margin-top: 2rem;
}

.aboutme__education-title{
    font-size: 1.2rem;
    margin-top: 2rem;
}

.aboutme__skills li {
    margin: 0;
}

.aboutme__skills img {
    margin-left: 5px;
    width: 30px;
    
}

.aboutme__education li{
list-style: circle;
 margin: 3px 20px;
 font-family:'Commissioner', sans-serif;
}

ion-icon{
    font-size: 30px;
    margin-top: 5px;
}