@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;300&family=Fraunces:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
}
h1 {
    font-family: 'Fraunces', serif;
}
p {
    font-family: 'Commissioner', sans-serif;
}
small {
    font-family: 'Commissioner', sans-serif;
    color: gray;
}
a {
    text-decoration: none;
    color: white;
    font-family: 'Commissioner', sans-serif;
}
li {
    list-style: none;
}

img{
    margin: 0.3rem;
}
