h2 {
    font-size: 1.3rem;
}

a{
    line-height: normal;
}

a:hover{
    text-decoration: underline;
    font-weight: bold;
}

.header-nav-Dark {
    color:rgb(34, 34, 34);
}

.header-nav-Light {
    color: white;
}

.header-Dark {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    color: white;
}

.header-Light {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    color: rgb(34, 34, 34);
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

.header__nav-item{
margin: 1rem;
}

.align-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__logo{
    display: flex;
}