.App-Dark{
  background-image: url("../public/images/background-gradient.png");
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #101828;
  color: white;
  padding: 0rem 15% 0rem 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.App-Light{
  background-image: url("../public/images/background-light.png");
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #e7e7e7;
  color: rgb(27, 27, 27);
  padding: 0rem 15% 0rem 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}